$font-stack: Helvetica, sans-serif;
$primary-color: #333;
.box3 {
  width: 300px;
  height: 300px;
  font: 100% $font-stack;
  background: $primary-color;
}
.box2 {
  width: 200px;
  height: 200px;
  background: aqua;
}
.box1 {
  width: 200px !important;
}
.box4 {
  width: 400px;
  height: 400px;
  background: blueviolet;
}
#app {
  font: 100% $font-stack;
  user-select:none;
}